*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: inherit;
}

* {
	margin: 0;
}

h1 {
	font-family: 'Handlee', cursive;
	margin: 0;
}

h2, h3, h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

a {
	color: black;
}

a, p {
	font-family: 'Lato', sans-serif;
}

.button {
	display: inline-block;
	background-color: #ffe25b;
	padding: 10px 20px;
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 400px 100px 1000px 200px;
}

@media (max-width: 782px) {
	.container {
		grid-template-rows: 400px 100px auto;
	}
}

.container > header {
	padding-top: 130px;
	grid-column: 1/13;
	background-image: url('../img/header-img.jpg');
	background-size: cover;
	background-position: center 65%;
	background-repeat: no-repeat;
	text-align: center;
}

.container > header h2 {
	font-weight: 300;
	margin: 0;
}
 
.container > nav {
	grid-column: 1/13;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #d5d5d5;
}

.container > nav a {
	padding: 30px;
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
}

.container > main {
	grid-column: 1/10;
}

.container > aside {
	grid-column: 10/13;
	display: flex;
	flex-direction: column;
	background-color: #f1f1f1;
	justify-content: space-evenly;
	align-items: start;
}

.container > footer {
	grid-column: 1/13;
	padding-top: 50px;
	text-align: center;
	background-color: black;
	color: white;
}

.container > footer a {
	color: white;
}

@media (max-width: 782px) {
	.container main,
	.container aside,
	.container footer {
		grid-column: 1/13;
	}
}

.articles {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

@media (max-width: 782px) {
	.articles {
		flex-direction: column;
		align-items: center;
	}
}

.articles article,
.articles img {
	width: 100%;
	max-width: 250px;
}

.articles article {
	margin: 40px;
	box-shadow: 2px 1px 20px 0px #d5d5d5;
}

.article-content {
	padding: 30px;
}

.article-content p {
	margin: 20px 0 40px;
}

.article-read-more {
	border-top: 1px solid #00000030;
	padding: 30px 0;
}
