*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto 150px;
	margin: 0;
}

img {
	vertical-align: middle;
}

h1, h2, h3 {
	font-family: 'Arvo', serif;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em; 
	margin: 50px 0 30px;
}

h3 {
	font-size: 1em;
}

p, a {
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
}

a {
	text-decoration: none;
	color: black;
}

body > main {
	grid-column: 1/13;
	padding: 60px 60px 60px 30px;
}

@media (max-width: 782px) {
	body > main {
		padding: 0;
	}
}

body > footer {
	grid-column: 1/13;
	background-color: #282727;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body > footer a {
	color: white;
}

body > footer p {
	margin: 0;
}

body > footer a:hover,
body > footer a:focus {
	text-decoration: underline;
}

.article {
	display: flex;
	flex-direction: row;
}

@media (max-width: 782px) {
	.article {
		flex-direction: column;
	}
}

.article-left,
.article-right {
	width: 50%;
}

@media (max-width: 782px) {
	.article-left,
	.article-right {
		width: 100%;
	}
}

.article-left p {
	width: 75%;
}

@media (max-width: 782px) {
	.article-left p{
		width: 100%;
	}
}

.article-left-txt {
	padding: 30px;
}

.article-right {
	overflow: hidden;
}

.article-right img {
	height: 140vh;
}

@media (max-width: 782px) {
	.article-right img {
		height: 60vh;
	}
}

.article-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 30px;
}

.article-nav a {
	font-size: 1.2em;
	font-weight: 700;
}

.article-nav a:hover,
.article-nav a:focus{
	text-decoration: underline;
}

@media (max-width: 782px) {
	.article-nav {
		flex-direction: column;
		background-color: #ffe25b;
		box-shadow: 3px 2px 20px 0px #d5d5d5;
	}
}

.article-nav-left,
.article-nav-right {
	display: flex;
}

.article-nav-left {
	display: flex;
	justify-content: flex-start;
	width: 25%;
}

.article-nav-left a {
	margin: 0 30px;
}

.article-nav-right {
	display: flex;
	justify-content: flex-end;
	width: 75%;
}

.article-nav-right a {
	margin: 0 15px;
}

@media (max-width: 782px) {
	.article-nav-left,
	.article-nav-right {
		width: 100%;
		flex-direction: column;
		align-items: center;
	}	

	.article-nav-left a,
	.article-nav-right a {
		padding: 30px;
	}
}

