*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1 {
	font-family: 'Handlee', cursive;
	margin: 0;
}

h2, h3, h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

a {
	color: black;
}

a, p {
	font-family: 'Lato', sans-serif;
}

.button {
	display: inline-block;
	background-color: #ffe25b;
	padding: 10px 20px;
	text-decoration: none;
}

.button:hover,
.button:focus {
	text-decoration: underline;
	font-weight: 700;
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 400px 100px 1000px 200px;
}

@media (max-width: 782px) {
	.container {
		grid-template-rows: 400px 100px auto;
	}
}

.container > header {
	padding-top: 130px;
	grid-column: 1/13;
	background-image: url('../img/header-img.jpg');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	text-align: center;
}

.container > header h2 {
	font-weight: 300;
	margin: 0;
}
 
.container > nav {
	grid-column: 1/13;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #d5d5d5;
	box-shadow: 1px 4px 12px 0px #0000003d;
	position: sticky;
	top: 0;
	background-color: white; 
}

.container > nav a {
	padding: 30px;
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
}

.container > nav a:hover,
.container > nav a:focus {
	text-decoration: underline;
	color: #ffd90b;
}

.container > main {
	grid-column: 1/11;
	padding: 150px 0;	
	background-color: #f1f1f191;
}

.container > main > header {
	display: flex;
	justify-content: center;
}

.container > aside {
	grid-column: 11/13;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: start;
	box-shadow: 1px 4px 12px 0px #0000003d;
}

.container > aside > div {
	width: 100%;
	padding: 0 20px;
}

.container > footer {
	grid-column: 1/13;
	display: flex;
	flex-direction: column;
	justify-content: center;	
	align-items: center; 
	background-color: #282727;
	color: white;
}

.container > footer a {
	color: white;
}

@media (max-width: 782px) {
	.container main,
	.container aside,
	.container footer {
		grid-column: 1/13;
	}

	.container aside {
		padding: 70px 0;
	}
}

.articles {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

@media (max-width: 782px) {
	.articles {
		flex-direction: column;
		align-items: center;
	}
}

.articles article,
.articles img {
	width: 100%;
	max-width: 300px;
}

.articles article {
	margin-top: 40px;
	box-shadow: 2px 1px 20px 0px #d5d5d5;
	background-color: white;
}

.article-content {
	padding: 30px;
}

.article-content p {
	margin: 20px 0 40px;
}

.article-read-more {
	border-top: 1px solid #00000030;
	padding: 30px 0;
}

.article-read-more a:hover,
.article-read-more a:focus,
.aside-articles a:hover,
.aside-articles a:focus {
	font-weight: 700;
}

.aside-video iframe, 
.aside-google-search .button {
	width: 100%;
	box-shadow: 3px 2px 20px 0px #d5d5d5;
}

.aside-video iframe {
	height: 150px;
}

.aside-google-search .button {
	text-align: center;
	padding: 20px; 
	font-size: 1.2em;
}

.aside-articles a {
	line-height: 2;
}