.container > main {
	grid-column: 1/13;
	padding: 50px 0;	
	background-color: rgba(241,241,241,0.57);
}

.articles article {
	margin-top: 0;
	max-width: 50%;
}

.articles img {
	max-width: 100%;
}

.article-content {
	padding: 50px;
}

@media (max-width: 940px) {
	.articles article {
		max-width: 75%;
	}
}

@media (max-width: 782px) {
	.article-content {
		padding: 25px;
	}
}

@media (max-width: 320px) {
	.articles article {
		max-width: 100%;
	}
}